h1, h2, p{
	text-align:center;
}
hr{
	width:100%;
}
a{
	padding-left:25px;
}
img{
	display: block;
	margin: auto;
	padding-top:100px;
}
div {
    width: 400px;
    border: 2px solid black;
    padding: 25px;
    margin: 25px;
		display: block;
		margin:auto;
		
}
#bottomLine{
	margin-top:100px;
}
